<div class="row">
  <Input @value={{dateformat this.selectedDate}} disabled class="input" />
</div>
<Calendar::Heading @changeMonth={{this.changeSelectedMonth}}>
  {{monthnames this.selectedMonth}}
  {{this.selectedYear}}
</Calendar::Heading>
<div class="row day-heading">
  {{#each this.dayNames as |day|}}
  <Calendar::DayName>
    {{day}}
  </Calendar::DayName>
  {{/each}}
</div>
{{#each this.matrix as |weeks|}}
<div class="row weeks">
  {{#each weeks as |days|}}
  <Calendar::Day @day={{days}} @selectDate={{this.changeDate}} />
  {{/each}}
</div>
{{/each}}