<div class="cell {{if this.notThisMonth "grayed"}}"
  {{on "click" (fn @selectDate @day.fullDate)}}>
  {{#if this.isToday}}
  <span class="today">{{@day.date}}</span>
  {{else}}
  {{@day.date}}
  {{/if}}
</div>